{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ticket #{{ order.public_id }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        .secondary {
            color: #aeaeae;
        }
    </style>
</head>
<body>
    <h1>
        {% trans "Order" %}
        {% include "include/default_language.html" with text="Order" %}
        #{{ order.public_id }}
    </h1>
    <p>
        {{ order.date_created|date:"SHORT_DATETIME_FORMAT" }}
        {% include "include/default_language.html" with date_=order.date_created prefix="&nbsp;|&nbsp;<span class='secondary'>" suffix="</span>" %}
    </p>
</body>
</html>
