{% load i18n extra_trans %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ticket #{{ order.public_id }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        .secondary {
            color: #aeaeae;
        }
    </style>
</head>
<body>
    <h1>
        {% if_not_default_language %}
            {% trans "Order" %}&nbsp;|&nbsp;
        {% end %}
        {% trans "Order" %}
        #{{ order.public_id }}
    </h1>
    <p>
        {% if_not_default_language %}
            {{ order.date_created|date:"SHORT_DATETIME_FORMAT" }}
            &nbsp;|&nbsp;
            <span class="secondary">
        {% end %}
        {{ order.date_created|date:"SHORT_DATETIME_FORMAT" }}
        {% if_not_default_language %}
            </span> 
        {% end %}
    </p>
</body>
</html>
